@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

$font-family: 'Ubuntu', sans-serif;

$primary : #1b1c1d;
$secondary : #0c1e36;
$warning: #FFD000 !important;